# GLOBE: Query API

In [33]:
import pandas as pd
import requests

wq = 'water_temperatures'
sdate = '2000-01-01'
edate = '2023-01-01'

base_api = 'https://api.globe.gov/search/v1/measurement/'
end_api = '&geojson=TRUE&sample=FALSE'
mid = "?protocols={}&datefield=measuredDate&startdate={}&enddate={}".format(wq, sdate, edate)
url = base_api + mid + end_api

## Protocols:
Available values : dissolved_oxygens, freshwater_macroinvertebrates, hydrology_alkalinities, hydrology_phs, land_covers, mosquito_habitat_mapper, nitrates, salinities, transparencies, water_temperatures

In [34]:
response = requests.get(url)
dictr = response.json()

In [35]:
recs = dictr['features']
df = pd.json_normalize(recs)
df.describe()

,type,properties.countryCode,properties.countryName,properties.elevation,properties.organizationId,properties.organizationName,properties.protocol,properties.siteId,properties.siteName,properties.watertemperaturesComments,properties.watertemperaturesGlobeTeams,properties.watertemperaturesMeasuredAt,properties.watertemperaturesTemperatureMethod,properties.watertemperaturesThermometerProbeMfg,properties.watertemperaturesThermometerProbeModel,properties.watertemperaturesUserid,properties.watertemperaturesWaterBodyState,properties.watertemperaturesWaterTempC,geometry.type,geometry.coordinates
count,213647,210913,210913,213647,213647,210916,213647,213647,213647,213647,3327,213647,213647,213647,213647,213647,213647,213647,213647,213647
unique,1,86,86,2655,2436,2431,1,6320,6008,9832,61,160356,3,135,147,1257,6,412,1,5419
top,Feature,HRV,Croatia,656.0,50044562,The first Arqah Secondary school Al-riyadh,water_temperatures,142880,School Location:SWS-01,null,[Dwij Bhatt],2021-02-22T10:00:00,alcohol-filled thermometer,null,null,-1,normal,19,Point,"[46.602502, 24.690306]"
freq,213647,48474,48474,8767,8768,8768,213647,4345,10243,192701,2517,26,114497,206432,209304,110554,204323,12216,213647,8459